body {
    margin: 0;
}
@keyframes girar {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}
.Dados {
    font-size: 30px;
    color: white;
    border: 2px solid white;
    width: 300px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    
}
.Dados:hover{
    background-color: tomato;
    animation-name: girar;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
}
.name {
    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 18px;
}
